#players {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#maze {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#layer3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
